* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.align-center { align-items: center; }
.bg-black{ background: black; }
.bg-white{ background: white; }
.cursor-pointer {cursor: pointer;}
.color-white{ color: white;}
.container { margin: auto; max-width: 1200px; }
.d-flex { display: flex; }
.d-flex-rowreverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.gap-2 { gap: 20px; }
.justify-between { justify-content: space-between; }
.justify-center{ justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-evenly { justify-content: space-evenly; }
.justify-around { justify-content: space-around; }
.m-20{ margin: 20px; }
.p-20 { padding: 20px; }
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.text-center{ text-align: center; }
.text-uppercase { text-transform: uppercase; }
.w-100{width: 100%;}