@charset "UTF-8";

@import url(colors.css);
@import url(generals.css);
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

@font-face {
    font-family: "Afl";
    src: url(../static/Fuentes/aflfont.TTF);
}

@font-face {
    font-family: "Highschool" ;
    src: url(../static/Fuentes/Highschool.ttf);
}

@font-face {
    font-family: "Titania";
    src: url(../static/Fuentes/Titania-Regular.ttf);
}

@font-face {
    font-family: "Omelette";
    src: url(../static/Fuentes/Omelette.otf);
}

* {
    font-family: 'Titania', sans-serif;
}

h1 {
    font-family: 'Omelette';
}

h2 {
    margin: 2rem;
    font-size: 2rem;
}

/* Header */

header {
    background-color: white;
    height: 12vh;
    justify-content: space-between;
}


header figure {
    display: flex;
    padding: 0.5rem;
    gap: 5px;
    text-align: center;
}

header figure p {
    font-family: "Afl";
}

.logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin: 0 1rem;
}

header label {
    display: none;
}

header input[type=checkbox] {
    display: none;
}

header nav {
    background-color: var(--main-color);
    width: 80%;
    border-radius: 0 0 0 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

header nav > ul {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
}

header nav > ul > li > a {
    color: white;
    position: relative;
    margin: 0 1rem;
    font-size: 1.3rem;
    font-family: "Afl";
}

header nav a:hover {
    color: black;
    z-index :0;
}

header nav a:hover::before {
    content: " ";
    width: 100%;
    height: 25%;
    background-color: var(--secondary-color);
    position: absolute;
    z-index: -1;
    bottom: -2px;
    left: 5px;
}

.active {
    color: black;
}

.active::before {
    content: " ";
    width: 100%;
    height: 25%;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -2px;
    left: 5px;
}

/* end header */

/* Main  */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.3rem;
}

#inicio {
    height: 88vh;
    position: relative;
    padding: unset;
}

#inicio p {
    font-family: "Highschool";
    font-size: 4rem;
}

#inicio .waveInicio {
    position: absolute;
    bottom: -8px;
    z-index: -1;
}

#inicio .waveInicio path {
    fill: var(--main-color);
    fill-opacity: 1;
}

#inicio > div {
    right: 0;
}

#inicio > div ul {
    flex-direction: column;
}

#inicio > div  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    margin: 1rem;
}

#somos {
    background-color: var(--main-color);
    min-height: 50vh;
}

#somos h2 {
    color: #fcc;
}

#somos p {
    text-align: justify;
    padding: 0 2rem;
}

.wave {
    background-color: var(--secondary-color);
    margin-bottom: -8px;
}

.wave path {
    fill: var(--main-color);
    fill-opacity: 1;
}

.waveNiveles {
    margin-bottom: -8px;
}

.waveNiveles path {
    fill: var(--secondary-color);
    fill-opacity: 1;
}

#servicios {
    background-color: var(--secondary-color);
    min-height: 50vh;
    min-height: 88vh;
}

#servicios h2 {
    color: #cff;
}

#servicios > div {
    display: flex;
    text-align: center;
    gap: 2rem;
    max-width: 1200px;
}

#servicios figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#servicios img {
    width: 100%;
    height: auto;
    padding: 2.5rem;
}

#niveles article div {
    margin: 20px;
}

#contacto {
    background-image: url("../public/undraw_things_to_say\ 1.svg");
    background-repeat: no-repeat;
    background-position: 0% 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    min-height: 88vh;
}

#contacto form {
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 2rem;
    gap: 1rem;
    width: 50%;
}

#contacto form input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}

#contacto form textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}

#contacto input[type=submit] {
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 50%;
    border: none;
    padding: 0.5rem;
    align-self: flex-end;
}

#contacto input[type=submit]:hover {
    background-color: var(--main-color);
}

.waveFooter {
    margin-bottom: -8px;
}

.waveFooter path {
    fill: var(--main-color);
    fill-opacity:1;
}

footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

footer a {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: #000;
}

footer img {
    max-width: 100%;
}

@media (max-width:780px) {
    header {
        position: sticky;
        top: 0;
        z-index: 9;
    }

    header label {
        display: unset;
    }

    header input:checked ~ nav {
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        background-color:rgba(186, 1, 202, 0.8);
        top: 12vh;
        bottom: -77vh;
        left: 0;
        right: 0;
        z-index: 10;
        width: 100%;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin: 2.5rem 0;
        font-weight: bold;
        font-size: 2rem;
    }

    #servicios > div {
        flex-direction: column;
    }

    #contacto form {
        width: 100%;
    }
}

@media (max-width:380px) {
    header figcaption {
        display: none;
    }
}