@charset "UTF-8";

@import url(colors.css);
@import url(generals.css);
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

@font-face {
    font-family: "Afl";
    src: url(../static/Fuentes/aflfont.TTF);
}

@font-face {
    font-family: "Highschool" ;
    src: url(../static/Fuentes/Highschool.ttf);
}

@font-face {
    font-family: "Titania";
    src: url(../static/Fuentes/Titania-Regular.ttf);
}

@font-face {
    font-family: "Omelette";
    src: url(../static/Fuentes/Omelette.otf);
}

/* @keyframes entradaSalida {
    0% {
        border-radius: 0 0 0 100%;
    }
    100% {
        border-radius: 0 0 0 0%;
    }
} */

* {
    font-family: "Afl";
}

h1 {
    font-family: 'Omelette';
    color: var(--complement-color);
    letter-spacing: 2px;
}

h2 {
    font-family: 'Titania', sans-serif;
    margin: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}

p {
    text-align: justify;
    padding: 1rem;
}

/* Header */

header {
    background-color: white;
    height: 12vh;
    justify-content: space-around;
}


header figure {
    text-align: center;
}

header figure div {
    display: flex;
    align-items: center;
}

header figure p {
    font-family: "Afl";
    padding: 0;
    text-align: center;
}

.logo {
    max-width: 100%;
    max-height: 4.5rem;
    border-radius: 50%;
}

header label {
    display: none;
}

header input[type=checkbox] {
    display: none;
}

header nav {
    background-color: var(--main-color);
    width: 80%;
    border-radius: 0 0 0 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

header nav > ul {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    width: 100%;
    justify-content: flex-end;
}

header nav > ul > li > a {
    position: relative;
    margin: 0 1rem;
    font-size: 1.3rem;
    font-family: "Afl";
    color: #000;
}

header nav a:hover {
    z-index :0;
}

header nav a:hover::before {
    content: " ";
    width: 100%;
    height: 25%;
    background-color: var(--secondary-color);
    position: absolute;
    z-index: -1;
    bottom: -2px;
    left: 5px;
}

.active {
    color: black;
}

.active::before {
    content: " ";
    width: 100%;
    height: 25%;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -2px;
    left: 5px;
}

/* end header */

/* Main  */
section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.3rem;
    position: relative;
    padding-bottom: 8rem;
}

section div {
    z-index: 1;
    padding: auto;
}

section h2 {
    z-index: 1;
}

#inicio {
    height: 88vh;
    justify-content: center;
}

#inicio p {
    font-family: "Highschool";
    font-size: 4rem;
    z-index: 1;
    text-align: center;
}

#inicio > div {
    right: 0;
    bottom: 15vh;
}

#inicio > div ul {
    flex-direction: column;
}

#inicio > div  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    margin: 1rem;
}

#somos {
    background-color: var(--main-color);
    min-height: 60vh;
}

#somos h2 {
    color: #fff;
}

#somos p {
    text-align: justify;
    padding: 0 2rem;
}

#servicios {
    background-color: var(--secondary-color);
    min-height: 60vh;
    padding: unset;
}

#servicios h2 {
    color: #fff;
}

#servicios > div {
    display: flex;
    text-align: center;
    gap: 2rem;
    max-width: 1200px;
}

#servicios figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #b81f7e,
                -20px -20px 60px #f82baa;
    padding: 1rem;
    margin: 0.5rem;
    width: 20vw;
}

#servicios img {
    width: 100%;
    padding: 0.5rem;
    min-height: 150px;
}

#niveles article div {
    margin: 20px;
}

#niveles article h3 {
    padding: 1rem;
}

#niveles .tuNivel {
    padding: 1rem;
}

/* FORM */

#contacto {
    min-height: 88vh;
}

#contacto div {
    background-image: url("../public/undraw_things_to_say\ 1.svg");
    background-repeat: no-repeat;
    background-position: 0% 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
}

#contacto form {
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 2rem;
    z-index: 1;
    width: 60%;
}

#contacto form input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}

#contacto form textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}

#contacto input[type=submit] {
    background-color: var(--secondary-color);
    border-radius: 15px;
    border: none;
    padding: 1rem;
    align-self: flex-end;
    color: var(--complement-color);
    letter-spacing: 0.3rem;
    font-family: 'Titania', sans-serif;
    font-size: 1.05rem;
}

#contacto input[type=submit]:hover {
    background-color: var(--main-color);
}

/* WAVES */

.wave {
    position: absolute;
    bottom: -8px;
}

.wave path {
    fill-opacity: 1;
}

.waveInicio path {
    fill: var(--main-color);
}

.waveSomos {
    background-color: var(--secondary-color);
}

.waveSomos path {
    fill: var(--main-color);
}

.waveServicios {
    position: relative;
    background-color: #fff;
    margin-top: -3rem;
}

.waveServicios path {
    fill: var(--secondary-color);
}

.waveFooter {
    display: none;
}

.waveFooter path {
    fill: var(--main-color);
}

/* footer */

footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

footer a {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: #000;
}

footer img {
    max-width: 100%;
    max-height: 300px;
}

@media (max-width:780px) {
    header {
        position: sticky;
        top: 0;
        z-index: 9;
        align-items: center;
    }

    header label {
        display: unset;
    }

    header input:checked ~ nav {
        display: flex;
        /* animation-name: entradaSalida;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; */
    }

    header nav {
        display: none;
        position: absolute;
        background-color:rgba(59, 10, 119, 0.9);
        top: 12vh;
        bottom: -88vh;
        left: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        border-radius: 0 0 0 60%;
    }

    header nav ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav ul li {
        margin: 2.5rem 0;
        font-weight: bold;
        font-size: 2rem;
    }

    header nav > ul > li > a {
        color: #fff;
    }

    .active {
        color: #fff;
    }

    #inicio div {
        bottom: 0;
    }

    #servicios > div {
        flex-direction: column;
    }

    #servicios figure {
        width: auto;
    }

    #servicios div figure img {
        max-width: 350px;
    }

    #contacto form {
        width: 100%;
    }

    #contacto input[type=submit] {
        align-self: center;
    }
}

@media (max-width:380px) {
    header figcaption {
        display: none;
    }

    header figure p {
        display: none;
    }
}